@model BookAVisit_App.ViewModels.AppointmentDetailsViewModel

<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <img src="~/Images/Sliders/slider-1.jpg" class="rounded mx-auto d-block" height="200" width="450" />
    <hr />
    <p class="text-center">Przykro nam, ale lekarz do którego próbujesz się umówić masz już umówioną wizytę w tym terminie.</p>

    <p class="text-center">Proszę wybrać inny dzień lub godzinę.</p>
    <hr />
    <br />
    <a asp-controller="Doctor" asp-action="NewIndex" class="btn btn-outline-secondary">Powrót</a>
</body>
</html>